@mixin raisedElement {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.045),
  0 6.7px 5.3px rgba(0, 0, 0, 0.065), 0 12.5px 10px rgba(0, 0, 0, 0.08),
  0 22.3px 17.9px rgba(0, 0, 0, 0.095), 0 41.8px 33.4px rgba(0, 0, 0, 0.115),
  0 100px 80px rgba(0, 0, 0, 0.16);
}

$bodyBackground: #f9e7e0;
$raisedElBackground: #f57f54;
$globalFont: "Alata", sans-serif;

$inputFormSpacing: 0.3em;

* {
  box-sizing: border-box;
}

body {
  background: $bodyBackground;
  font-family: $globalFont;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

header,
section,
footer {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}

.title {
  text-align: center;
  padding: 15px 0;
  font: bold 30px $globalFont;
}

.navbar-wrapper {
  padding: 15px;
}

.navbar {
  border: 1px;
  border-radius: 7px;
  padding: 16px;
  background: $raisedElBackground;
  @include raisedElement;

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    padding: 5px;
    text-align: left;
    flex: 3;
  }

  .navbar__social {
    flex: 1;
    text-align: right;
  }

  a {
    text-decoration: none;
    color: #eeede7;
    &:hover {
      color: white;
    }
  }

  .navbar__option {
    font-size: 14px;
  }
}

.image-container {
  text-align: center;
  padding: 2%;

  img {
    width: 100%;
  }
}

.overwiew {
  line-height: 50px;
  text-align: center;
  font-size: 20px;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  max-width: 460px;
  padding: 0.5em;
  margin: 0 auto;

  .name-form,
  .email-form {
    padding: 0.1em;
    flex: 1 1 50%;

    label, input {
      display: block;
      width: 100%;
      padding: 0.1em;
    }

    input {
      outline: none;
      line-height: 2em;
      border: 0;
      border-radius: 0.25rem;
    }
  }

  .name-form {padding-right: $inputFormSpacing;}
  .email-form {padding-left: $inputFormSpacing;}

  .message-form {
    padding: 0.1em;
    flex: 1 1 100%;

    label {
      display: block;
      padding: 0.1em 0.1em 0.2em;
    }

    textarea {
      display: block;
      min-height: 10em;
      max-height:30em;
      width: 100%;
      resize: vertical;
      outline: none;
      border: 0;
      border-radius: 0.25rem;
    }
  }



  .submit-btn {
    background: $raisedElBackground;
    @include raisedElement;
    margin: 0.5em 0.1em;
    border: 0;
    border-radius: 0.25rem;
    font: inherit;
    line-height: 2em;
    width: 7em;
    cursor: pointer;
    &:hover, &:focus {
      color: white;
      outline: none;
    }
  }
}

//.contact-form {background: rosybrown}
//.name-form {background: orange}
//.email-form {background: blueviolet}
//.message-form {background: yellowgreen}

footer {
  line-height: 50px;
  text-align: center;
}

@media (max-width: 1000px) {
  .navbar {
    li {
      flex: 1 1 50%;
      text-align: center;
    }

    .navbar__social {
      flex: 1 1 25%;
      text-align: center;
    }
  }
}

@media (max-width: 500px) {
  .navbar {
    li {
      flex: 100%;
    }
  }

  .contact-form {
    .name-form, .email-form {
      flex: 100%;
      padding: 0.1em;
    }
  }
}
